::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    width: 5px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(169, 119, 216);
    width: 0;
    border-radius: 5rem;
    transition: 0.5s ease;
    cursor: pointer;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: left;
    background-image: url("https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.headerContainer {
    margin-left: auto;
}

.headerContainer h1 {
    font-size: 50px;
    font-weight: 600;
    display: flex;
    margin-left: auto;
    color: red;
}

.headerContainer p {
    font-size: 30px;
    font-weight: 600;
    display: flex;
    margin-left: auto;

}

.headerContainer button {
    font-size: 25px;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;

}


.burger img {
    margin-top: 30px;
    border-radius: 20%;
  
}

.img-text {
    margin-top: 30px;
    margin-left: auto;
    font-size: 20px;
    font-weight: 500;
}

.working-time {

    margin: 30px 10px;

}

@media only screen and (max-width:900px) {

    h1 {
        font-size: 25px;
        font-weight: 300;
    }

    .burger img {
        height: 25vh;
        width: 30vh;
        margin: 10px 10px;
        margin-left:25px;
     }

    .img-text h3 {
        font-size: 20px;
        font-weight: 500;
        margin: 10px 30px;
    }

    .home {
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("https://i.pinimg.com/564x/db/aa/a4/dbaaa4bab7265db7f47e2182ce4d5b6b.jpg");

    }

    .headerContainer h1 {
        
        font-size: 25px;
        font-weight: 700;
        margin-right: 30px;
        color:gold;
    
    }

    .headerContainer p {
        font-size: 20px;
        font-weight: 700;
        color:pink;

    }

    .headerContainer button {
        font-size: 18px;
        background-color: red;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;

    }


}
