@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-rounded/css/uicons-bold-rounded.css');

.card_style{
    cursor: pointer;
    transition: .3s linear;
    
 
}
.card_style:hover{
    /* box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082); */
    transform: scale(1.1);
    box-shadow: -10px 10px 10px 5px grey;
}

  .smalltrash{
      display: none;
  }
  
  
  .iteamsdetails{
      max-width: 800px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
  }
  .items_img{
      flex: .4;
  }
  .items_img img{
      width: 20rem;
      border-radius: 5px;
  }
  
  .details{
      flex: .5;
  };
  
  .rating{
      background-color: green;
  }

  .nav-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;


}
.nav-menu li{
    margin: 0px 15px;
    padding-top: 10px;
    padding-right:10px ;
    transition:all .5s linear;
}
.nav-menu li a{
    text-decoration: none;
    color:black;
    font-weight: 600;
  
   }
 
   .nav-menu li a:hover{
   transition: .3s ease-in-out;
    color:rgb(219, 42, 160);
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.568);
   
    }

.contact-inputs{
    padding-right: 10px;
    
}
.mobile-menu{
    list-style: none; 
   
}
.mobile-menu li a{
    text-decoration: none;
    margin-right: 10px;
  
}
.mobile-menu li{
    margin: 30px;
}

.searchIcon{
    position: absolute;
    margin-top: 5px;
    
     
}

.input{
    padding-left:40px ;
   
   }

.container{
    text-align: center;
    
}

  @media (max-width:768px){
      .iteamsdetails{
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }
     
      .searchIcon{
           position: absolute;
           margin-top: 5px;
           margin-left: 10px;      
      }
   
      .input{
        padding-left:35px ;
        
       
    }
    .button_div Button{
        margin-right:10px;
        
        }
  }
  
  @media (max-width:500px){
    .smalltrash{
        display: block;
    }
    .largetrash{
        display:none;
    }
    .emptycart_img{
        margin-right: 50px;
    }
    .smallclose{
        display: none;
    }

    /* individual iteams details */
    .iteamsdetails{
        margin-top: 40px;
        display: grid;
        place-items: center;
        margin-right: 30px;
       }
    .items_img img{
        width: 16rem;
    }

   .input{
    padding-left:25px ;
 
  
}

   .searchIcon{
    position: absolute;
    margin-top: 5px;
    margin-left: 4px;
    
}

}
